<!DOCTYPE html>
<html>
<head>
    <title>Predict Customer Churn</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div>
        <h1>Predict Customer Churn</h1>
        <form method="POST">
            <label for="has_premium_tech_support">Premium Tech Support:</label><br>
                <select name="has_premium_tech_support" id="has_premium_tech_support">
                <option value=""></option>
                <option value="1" selected>Yes</option>
                <option value="0">No</option>
            </select><br><br>

             <label for="contract_type">Contract Type:</label><br>
                <select name="contract_type" id="contract_type">
                <option value=""></option>
                <option value="0" selected>Month-to-Month</option>
                <option value="2">One Year</option>
                <option value="1">Two Year</option>
            </select><br><br>
            
            <label for="internet_type">Internet Type:</label><br>
                <select name="internet_type" id="internet_type">
                <option value="0"></option>
                <option value="1" selected>Fiber Optic</option>
                <option value="2">Cable</option>
                <option value="3">DSL</option>
            </select><br><br>

            <label for="has_unlimited_data">Unlimited Data:</label><br>
                <select name="has_unlimited_data" id="has_unlimited_data">
                <option value="0"></option>
                <option value="1" selected>Yes</option>
                <option value="0">No</option>
            </select><br><br>         

            <label for="num_dependents">How many dependents:</label><br>
                <select name="num_dependents" id="num_dependents">
                <option value="0"></option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
            </select><br><br>

            <label for="num_referrals">How many referrals:</label><br>
                <select name="num_referrals" id="num_referrals">
                <option value="0"></option>
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
            </select><br><br>
            
            <input type="submit" value="Predict">
        </form>

        {% if prediction is defined %}
            <h2>Prediction: {{ prediction }}</h2>
            <h2>1 = Churn </h2>
            <h2>0 = No Churn</h2>
        {% endif %}

        
    </div>
</body>
</html>
